config VIDEO_SAMSUNG
	bool "Samsung Multimedia Devices"
	default y
	---help---
	  This is a configuration for Samsung multimedia devices.

source "drivers/media/video/samsung/g2d/Kconfig"
source "drivers/media/video/samsung/g3d/Kconfig"
source "drivers/media/video/samsung/jpeg/Kconfig"
source "drivers/media/video/samsung/mfc/Kconfig"
source "drivers/media/video/samsung/pp/Kconfig"
source "drivers/media/video/samsung/tvout/Kconfig"
source "drivers/media/video/samsung/rotator/Kconfig"
source "drivers/media/video/samsung/camera/Kconfig"
source "drivers/media/video/samsung/fimc/Kconfig"
source "drivers/media/video/samsung/cmm/Kconfig"
